.nav-tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.nav-item {
    border: 2px solid purple;
    padding: 0.5rem 1rem;
    display: inline-block;
    align-items: center;
    min-width: 8rem;
    text-align: center;
}

.nav-item:hover {
    background-color: purple;
    color: white;
}

.nav-link {
    color: rgb(255, 5, 255);
    text-decoration: none;
    font-size: 1.5rem;
}

@media (max-width: 1000px) {
    .nav-tabs {
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        font-size: 1.25rem;
    }

    .nav-item {
        max-width: 100%;
        padding: 0.5rem;
    }
}