.nav-item {
    border: 2px solid purple;
    padding: 5px;
    display: inline-block;
    margin-right: 15px;
    display: inline-block;
    margin-right: 15px;
}

.nav-item:hover {
    background-color: purple;
    color: white;
}