#projectPhoto {
    max-width: 40rem;
    border: 5px solid #f0f0f0;
}

#projectLink {
    display: block;
    font-size: 2rem;
    color: magenta;
}

#projectLink:hover {
    color: rgb(163, 0, 163);
}