* {
  background-color: #242424;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 @media (max-width: 1000px) {
  header {
    font-size: 0.5rem;
  }

  header img {
    width: 100%;
  }
}